<%-include('header')-%>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title">
            <h2 class="font-weight-bold">Welcome!</h2>
            <span>Hello! My name is Koko. I'm Aini's dearest pet><</span>
        </div>
        <img src="/img/koko.jpg" class="w-10 h-10>
    </div>
</div>

<%-include('footer')-%>